#!/usr/bin/env python
# -*- coding: utf-8 -*-
"""
secrets.py
~~~~~~~~~~~~~~~~~

Contains secrets that should not be in source control

:copyright: (c) 2015 by Cameron Dershem.
:license: see TOPMATTER
:source: github.com/cldershem/atwoodKnives
"""
EMAIL_ADDRESS = ''
PASSWORD = ''
